* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
   	background-color: white;

}

.calc {
	width: 100%;
	max-width: 400px;
	border-radius: 1.5rem;
	overflow: hidden;
    box-shadow: 3px -2px 16px rgba(0, 0, 0, 1);
}

#clear
{
	background-color: lightsalmon;
	border-color: lightsalmon;
	width: 46%;
}

.color
{
	border-color: lightsalmon;
}

.equal
{
	border-color: lightsalmon;
	width: 46%;
	margin-left: 8px;
}
    
input  
{  
	width: 120px;  
	background-color: whitesmoke;  
	color: black;  
	border: 3px solid lightgray;  
    border-radius: 50px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 15px; 
	box-shadow: 2px -1px 8px rgba(0, 0, 0, 1);
	cursor: pointer;
} 

input:hover
{
	background-color: lightgray;
	transform: scale(1.1);
}
   
#calc
{  
	width: 390px;  	  
    padding: 20px;  
	margin-top: 15px;  
} 

#calc:hover
{
	transform: scale(1);
}
